<!DOCTYPE html>
<html>
    <head>
        <title>Welcome to Symfony!</title>
    </head>
    <body>
        <h1>{{ operacion }}</h1>

        <p>El resultado ({{operacion}}) entre {{n1}} y {{n2}} es {{resultado}}</p>
    </body>
</html>